
nav {
    background-color: $color-principal;
    width: 80%;
    color: $color-secundario;
    @include centrado($direction: column);

        .barras-nav {
            display: flex;
            margin: $margenes-corto;

            .formulario-filtro {
                label {
                    margin: $margenes-corto;
                }
                input {
                    border-radius: 5px;
                }
            }

            .barras-nav-formularios {
                background-color: $color-fondo;
                padding: 10px;
                padding-left: 10px;
                padding-top: 10px;
                margin: $margenes-corto;
                input {
                    border: none;
                    background-color: $color-principal;
                }
            };

        }
    
    #boton-trago-aleatorio {
        @include boton($color: $color-acento)
    }    
    #boton-buscar {
        @include boton($color: $color-acento)

    }

    #volver-de-busqueda {
        display: none;
        @include boton($color: $color-secundario)
    }

    .contenedor-dark-mode{
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: flex-end;
        #boton-dark-mode {
            @include boton($color: $color-secundario);
            margin: 10px;
        } 
}
}


.dark-mode {
    background-color: #1B3134;
    color: white;
}

.dark-mode-botones {
    @include boton($color: $color-acento);
}


