//Variables 

// Colores

$color-fondo: #D2CECD;
$color-principal: #6B8B89;
$color-secundario: #1B3134;
$color-acento: #CA6360;

// Tipografias

$tipografia-principal: 'Libre Franklin', sans-serif;

// Espaciadoo
$margenes-largo: 10px;
$margenes-corto: 5px;


// 